@import './variables';

.note-info{
    font-size:3.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .noteInfoTitle{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color:$primaryClr ;
        margin-top:30px;
        .backBtn{
            background:$primaryClr;
            color:rgb(61,61,61);
            width:100px;
            height:50px;
            text-align: center;
            border-radius:15px;
            font-family: 'Nerko One', cursive;
            text-decoration: none;
            &:hover{
                cursor: pointer;
                animation: backBtn 0.1s ease-in-out forwards;
            }
        }
    }

    @keyframes backBtn{
        100%{
            transform:scale(1.1);
        }
    }

    #updateContent{
        font-family: 'Nerko One', cursive;
        font-size:4rem;
        outline:none;
        cursor: auto;
        background:rgb(80,80,80);
        color:$primaryClr;
        resize:none;
        padding:100px;
        width:70%;
        height:60vh;
        &::-webkit-scrollbar{
            width:15px;
            background:rgb(80,80,80);
        }
        &::-webkit-scrollbar-thumb{
            border-radius:10px;
            background:$primaryClr;
            
        }
    }
}


@media (max-width:1200px){
    .note-info{
        font-size:2rem;
        #updateContent{
            margin:auto;
            width:80%;
            padding:25px;
        }
    }
}