@mixin flexbox($jus, $dir) {
  display: flex;
  justify-content: $jus;
  align-items: center;
  flex-direction: $dir;
}

@import "./variables";

.notesList {
  @include flexbox(space-evenly, row);
  flex-wrap: wrap;
  width: 80%;
  margin: 120px auto;
}

.note {
  margin: 6% auto;
  width: 300px;
  height: 400px;
  padding: 20px;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    animation: note 0.1s ease-in-out forwards;
  }
}

.note-link {
  text-decoration: none;
  color: #333;
}
@keyframes note {
  to {
    transform: scale(1.1);
  }
}
@media (max-width: 1200px) {
  .note {
    width: 250px;
    height: 350px;
  }
}
@media (max-width: 600px) {
  .note-list {
    @include flexbox(center, column);
    width: 100%;
  }
  .note {
    width: 120px;
    height: 220px;
    margin: 15px auto;
    padding: 10px;
    .note-title {
      font-size: 1.5rem;
    }
    .note-text {
      font-size: 1.2rem;
    }
  }
}
