@mixin flexbox($jus,$dir){
    display:flex;
    justify-content: $jus;
    align-items: center;
    flex-direction: $dir;
}

@import './variables';


.notesList{
    @include flexbox(center,row);
    flex-wrap:wrap;
    width:75%;
    margin:auto;
    .note{
        @include flexbox(center,column);
        margin:20px 100px 20px 100px;
        .title{
            font-family: 'Quicksand', sans-serif;
            text-align: center;
            color:$primaryClr;
            font-size:3rem;
        }
    .note-link{
        text-decoration: none;
        .note-card{
            @include flexbox(start,row);
            align-items: start;
            background:#fff;
            border-radius:15px;
            border:solid $primaryClr 2px;
            width:200px;
            height:325px;
            padding:15px;
            .preview-text{
                font-size:1rem;
                color:$primaryClr;
            }
            &:hover{
                animation:noteCard 0.3s 1 ease-in-out both;
            }
            @keyframes noteCard{
                100%{
                    background:$primaryClr;
                }
            }
            &:hover .preview-text{
                animation:title 0.3s 1 ease-in-out both;
            }
            @keyframes title{
                100%{
                    color:white;
                }
            }
            .title{
                color:$primaryClr;
                font-family: 'Quicksand', sans-serif;
                font-size:2rem;
            }
        }
    }
}
}

@media (max-width:1200px){
    .notesList{
        @include flexbox(space-evenly,row);
        width:90%;
        .note{
            .title{
                font-size:2rem;
            }
            margin:10px 5px 10px 5px;
            .note-link{
                .note-card{
                        width:200px;
                        height:325px;
                }
            }
        }
    }
}

@media (max-width:600px){
        .notesList{
            .note{
                .title{
                    font-size:1.5rem;
                }
            }
        }
}
