@import './variables';

.note-info{
    font-family:sans-serif;
    font-size:3.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .noteInfoTitle{
        color:$primaryClr ;
    }
    #updateContent{
        font-family: 'Nerko One', cursive;
        font-size:3rem;
        outline:none;
        cursor: auto;
        background:rgb(80,80,80);
        color:$primaryClr;
        resize:none;
        padding:100px;
        width:70%;
        height:60vh;
        &::-webkit-scrollbar{
            width:15px;
            background:rgb(80,80,80);
        }
        &::-webkit-scrollbar-thumb{
            border-radius:10px;
            background:$primaryClr;
            
        }
    }
}