@import "./variables";

.deleteBtn {
  @include flexbox(center, row);
  text-align: center;
  font-family: "Quicksand", sans-serif;
  background: #d87487;
  color: rgb(61, 61, 61);
  font-size: 2.5rem;
  margin-top: 20px;
  border-radius: 15px;
  margin-left: 20%;
  width: 150px;
  height: 50px;
  padding: 5px;
  &:hover {
    cursor: pointer;
    animation: deleteNote 0.1s ease-in-out forwards;
  }
}
@keyframes deleteNote {
  100% {
    transform: scale(1.1);
  }
}

.note-info {
  font-size: 3.5rem;
  @include flexbox(center, column);
  .noteInfoTitle {
    @include flexbox(center, column);
    color: $primaryClr;
    margin-top: 30px;
    .link {
      text-decoration: none;
    }
  }

  #updateContent {
    font-family: "Quicksand", sans-serif;
    font-size: 2.5rem;
    line-height: 1.6;
    outline: none;
    cursor: auto;
    padding: 50px;
    width: 90%;
    &::-webkit-scrollbar {
      width: 15px;
      background: rgb(80, 80, 80);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: $primaryClr;
    }
  }
}

@media (max-width: 1200px) {
  .deleteBtn {
    margin: auto;
    margin-top: 20px;
    font-size: 2.3rem;
    &:hover {
      animation: none;
    }
  }
  .note-info {
    font-size: 2rem;
    .noteInfoTitle {
      .backBtn:hover {
        animation: none;
      }
    }
    #updateContent {
      font-size: 2rem;
      margin: auto;
      width: 90%;
      padding: 30px;
    }
  }
}

@media (max-width: 800px) {
  .deleteBtn {
    font-size: 1.5rem;
    width: 100px;
    height: 30px;
  }
  .note-info {
    font-size: 1rem;
    margin: 10px auto;
    .noteInfoTitle {
      .backBtn {
        height: 40px;
        font-size: 1.5rem;
      }
    }
    #updateContent {
      font-size: 1.5rem;
      margin: auto;
      padding: 25px;
    }
  }
}
