@mixin flexbox($jus,$dir){
    display:flex;
    justify-content: $jus;
    align-items: center;
    flex-direction: $dir;
}

@import './variables';

.deleteBtn{
            @include flexbox(center,row);
            text-align: center;
            background:#CF6679;
            font-family: Arial, Helvetica, sans-serif;
            font-size:2rem;
            width:50px;
            height:150px;
            border-radius:15px 0px 0px 15px;
            &:hover{
                cursor: pointer;
                animation: delete 0.2s 2 ease-in-out alternate;
            }
            @keyframes delete{
                25%{
                    transform: rotate(5deg);
                }
                50%{
                    transform: rotate(-5deg);
                }
                75%{
                    transform: rotate(5deg);
                }
                100%{
                    transform: rotate(0deg);
                }
            }
    }

.notesList{
    @include flexbox(center,row);
    flex-wrap:wrap;
    width:75%;
    margin:auto;
    .note{
        @include flexbox(center,row);
        margin:20px 100px 20px 100px;
    .note-link{
        text-decoration: none;
        .note-card{
            @include flexbox(center,column);
            background:rgb(80, 80, 80);
            border-radius:0px 15px 15px 0px;
            border:solid $primaryClr 2px;
            border-left:none;
            width:300px;
            height:146px;
            &:hover{
                animation:noteCard 0.3s 1 ease-in-out both;
            }
            @keyframes noteCard{
                100%{
                    background:$primaryClr;
                }
            }
            &:hover .title{
                animation:title 0.3s 1 ease-in-out both;
            }
            @keyframes title{
                100%{
                    color:rgb(80,80,80);
                }
            }
            .title{
                color:$primaryClr;
                font-family: Arial, Helvetica, sans-serif;
                font-size:2rem;
            }
        }
    }
}
}

@media (max-width:1200px){
    .deleteBtn{
        height:100px;
    }
    .notesList{
        @include flexbox(space-evenly,row);
        width:90%;
        .note{
            margin:10px 5px 10px 5px;
            .note-link{
                .note-card{
                        width:200px;
                        height:96px;
                    .title{
                        font-size:1.4rem;
                    }
                }
            }
        }
    }
}

@media (max-width:600px){
        .deleteBtn{
            height:100px;
        }
        .notesList{
            .note{
                .note-link{
                    .note-card{
                            width:200px;
                            height:96px;
                        .title{
                            font-size:1.4rem;
                        }
                    }
                }
            }
        }
}
