.notesList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75%;
  margin: 250px auto;
}

.notesList .note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 100px 20px 100px;
}

.notesList .note .title {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: #a974eb;
  font-size: 3rem;
}

.notesList .note .note-link {
  text-decoration: none;
}

.notesList .note .note-link .note-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background: #fff;
  border-radius: 15px;
  border: solid #a974eb 2px;
  width: 200px;
  height: 325px;
  padding: 15px;
}

.notesList .note .note-link .note-card .preview-text {
  height: inherit;
  overflow: hidden;
  font-size: 1.6rem;
  color: #a974eb;
}

.notesList .note .note-link .note-card:hover {
  -webkit-animation: noteCard 0.3s 1 ease-in-out both;
          animation: noteCard 0.3s 1 ease-in-out both;
}

@-webkit-keyframes noteCard {
  100% {
    background: #a974eb;
  }
}

@keyframes noteCard {
  100% {
    background: #a974eb;
  }
}

.notesList .note .note-link .note-card:hover .preview-text {
  -webkit-animation: title 0.3s 1 ease-in-out both;
          animation: title 0.3s 1 ease-in-out both;
}

@-webkit-keyframes title {
  100% {
    color: white;
  }
}

@keyframes title {
  100% {
    color: white;
  }
}

.notesList .note .note-link .note-card .title {
  color: #a974eb;
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
}

@media (max-width: 1200px) {
  .notesList {
    margin-top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
  }
  .notesList .note {
    margin: 10px 5px 10px 5px;
  }
  .notesList .note .title {
    font-size: 2rem;
  }
  .notesList .note .note-link .note-card {
    width: 200px;
    height: 325px;
  }
  .notesList .note .note-link .note-card .preview-text {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .notesList {
    margin-top: 100px;
  }
  .notesList .note .title {
    font-size: 1.5rem;
  }
  .notesList .note .note-link .note-card {
    width: 70px;
    height: 100px;
  }
  .notesList .note .note-link .note-card .preview-text {
    font-size: 0.9rem;
  }
}

.addBtnContainer #addBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #505050;
  border: solid #a974eb 2px;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 5rem;
  color: #a974eb;
}

.addBtnContainer #addBtn:hover {
  cursor: pointer;
  -webkit-animation: addBtn 0.3s  ease-in-out forwards;
          animation: addBtn 0.3s  ease-in-out forwards;
}

@-webkit-keyframes addBtn {
  100% {
    background: #a974eb;
    color: #505050;
  }
}

@keyframes addBtn {
  100% {
    background: #a974eb;
    color: #505050;
  }
}

.addingNote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  margin: 50px auto;
  height: 800px;
  width: 700px;
  background: white;
  border: solid #a974eb 2px;
  border-radius: 10px;
  color: #a974eb;
}

.addingNote input {
  text-align: center;
  width: 500px;
  color: #a974eb;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  outline: none;
  border: none;
  border-bottom: #a974eb 2px solid;
  background: white;
}

.addingNote #addContent {
  width: 400px;
  height: 400px;
  padding: 30px;
  resize: none;
  border-radius: 5px;
  outline: none;
  border: #a974eb 2px solid;
  color: #a974eb;
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
}

.addingNote #addContent::-webkit-scrollbar {
  width: 10px;
  background: #505050;
}

.addingNote #addContent::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #a974eb;
}

.addingNote .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px auto;
}

.addingNote .options .cancelBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #d87487;
  border-radius: 15px 0px 0px 15px;
  color: black;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  margin: auto;
}

.addingNote .options .cancelBtn:hover {
  cursor: pointer;
  -webkit-animation: delete 0.2s 2 ease-in-out alternate;
          animation: delete 0.2s 2 ease-in-out alternate;
}

.addingNote .options .addNote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 200px;
  height: 50px;
  font-size: 2.3rem;
  font-family: 'Quicksand', sans-serif;
  background: #a974eb;
  border-radius: 0px 15px 15px 0px;
  color: black;
}

.addingNote .options .addNote:hover {
  cursor: pointer;
  -webkit-animation: createNote 0.6s  infinite ease-in-out alternate;
          animation: createNote 0.6s  infinite ease-in-out alternate;
}

@-webkit-keyframes createNote {
  50% {
    background: #03dAC6;
  }
  100% {
    background: #5be484;
  }
}

@keyframes createNote {
  50% {
    background: #03dAC6;
  }
  100% {
    background: #5be484;
  }
}

@media (max-width: 1200px) {
  .addingNote {
    width: 80%;
  }
  .addingNote input {
    width: 90%;
  }
  .addingNote #addContent {
    font-size: 3rem;
    width: 70%;
  }
  .addingNote .options {
    margin: 10px auto;
  }
  .addingNote .options .cancelBtn {
    font-size: 2rem;
  }
  .addingNote .options .addNote:hover {
    -webkit-animation: none;
            animation: none;
  }
}

@media (max-width: 600px) {
  .addBtnContainer #addBtn {
    height: 50px;
    font-size: 3rem;
  }
  .addingNote {
    width: 80%;
  }
  .addingNote input {
    font-size: 2rem;
    width: 90%;
  }
  .addingNote #addContent {
    font-size: 2rem;
    width: 70%;
  }
  .addingNote .options {
    margin: 10px auto;
  }
  .addingNote .options .cancelBtn {
    font-size: 1.7rem;
    height: 40px;
    width: 40px;
  }
  .addingNote .options .addNote {
    font-size: 1.7rem;
    width: 150px;
    height: 40px;
  }
  .addingNote .options .addNote:hover {
    -webkit-animation: none;
            animation: none;
  }
}

.deleteBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  background: #d87487;
  color: #3d3d3d;
  font-size: 2.5rem;
  margin-top: 20px;
  border-radius: 15px;
  margin-left: 20%;
  width: 150px;
  height: 50px;
  padding: 5px;
}

.deleteBtn:hover {
  cursor: pointer;
  -webkit-animation: deleteNote 0.1s ease-in-out forwards;
          animation: deleteNote 0.1s ease-in-out forwards;
}

@-webkit-keyframes deleteNote {
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes deleteNote {
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.note-info {
  font-size: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.note-info .noteInfoTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #a974eb;
  margin-top: 30px;
}

.note-info .noteInfoTitle .backBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #a974eb;
  color: #3d3d3d;
  width: 100px;
  font-size: 2.5rem;
  height: 50px;
  text-align: center;
  border-radius: 15px;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
}

.note-info .noteInfoTitle .backBtn:hover {
  cursor: pointer;
  -webkit-animation: backBtn 0.1s ease-in-out forwards;
          animation: backBtn 0.1s ease-in-out forwards;
}

@-webkit-keyframes backBtn {
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes backBtn {
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.note-info #updateContent {
  font-family: 'Quicksand', sans-serif;
  font-size: 4rem;
  outline: none;
  cursor: auto;
  background: white;
  color: #a974eb;
  resize: none;
  padding: 100px;
  width: 70%;
  height: 50vh;
}

.note-info #updateContent::-webkit-scrollbar {
  width: 15px;
  background: #505050;
}

.note-info #updateContent::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #a974eb;
}

@media (max-width: 1200px) {
  .deleteBtn {
    margin: auto;
    margin-top: 20px;
    font-size: 2.3rem;
  }
  .deleteBtn:hover {
    -webkit-animation: none;
            animation: none;
  }
  .note-info {
    font-size: 2rem;
  }
  .note-info .noteInfoTitle .backBtn:hover {
    -webkit-animation: none;
            animation: none;
  }
  .note-info #updateContent {
    margin: auto;
    width: 80%;
    padding: 25px;
  }
}

@media (max-width: 800px) {
  .deleteBtn {
    font-size: 1.5rem;
    width: 100px;
    height: 30px;
  }
  .note-info {
    font-size: 2rem;
  }
  .note-info .noteInfoTitle .backBtn {
    height: 40px;
    font-size: 1.5rem;
  }
  .note-info #updateContent {
    margin: auto;
    width: 80%;
    padding: 25px;
  }
}

html {
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
}

body {
  background: #3d3d3d;
  margin: 0;
  font-size: 2rem;
}

.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(11, 11, 11, 0.7);
}

.modal:focus {
  outline: none;
}

.modal .confirm-delete {
  background: #3d3d3d;
  padding: 20px;
  color: #a974eb;
  border: solid black 3px;
  margin: 150px auto;
  text-align: center;
  font-size: 2rem;
  border-radius: 25px;
  font-family: 'Quicksand', sans-serif;
  width: 800px;
  height: 300px;
}

.modal .confirm-delete .choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .confirm-delete .choices .confirmBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  height: 40px;
  width: 100px;
  padding: 5px;
  margin: 10px;
  border-radius: 15px;
  background: #a974eb;
  color: #3d3d3d;
}

.modal .confirm-delete .choices .confirmBtn:hover {
  cursor: pointer;
  -webkit-animation: btnHover 0.1s ease-in-out forwards;
          animation: btnHover 0.1s ease-in-out forwards;
}

.modal .confirm-delete .choices .rejectBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  height: 40px;
  width: 100px;
  padding: 5px;
  margin: 10px;
  border-radius: 15px;
  background: #a974eb;
  color: #3d3d3d;
}

.modal .confirm-delete .choices .rejectBtn:hover {
  cursor: pointer;
  -webkit-animation: btnHover 0.1s ease-in-out forwards;
          animation: btnHover 0.1s ease-in-out forwards;
}

@-webkit-keyframes btnHover {
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes btnHover {
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (max-width: 1200px) {
  .deleteModal .confirm-delete {
    width: 80%;
  }
  .deleteModal .confirm-delete .choices .rejectBtn:hover {
    -webkit-animation: none;
            animation: none;
  }
  .deleteModal .confirm-delete .choices .confirmBtn:hover {
    -webkit-animation: none;
            animation: none;
  }
}

@media (max-width: 800px) {
  .deleteModal .confirm-delete {
    width: 80%;
    font-size: 1.3rem;
  }
  .deleteModal .confirm-delete .choices .rejectBtn:hover {
    -webkit-animation: none;
            animation: none;
  }
  .deleteModal .confirm-delete .choices .confirmBtn:hover {
    -webkit-animation: none;
            animation: none;
  }
}
/*# sourceMappingURL=styles.css.map */